@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
  url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'),
  url('../fonts/barlow-v5-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
  url('../fonts/barlow-v5-latin-500.woff2') format('woff2'),
  url('../fonts/barlow-v5-latin-500.woff') format('woff'); 
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
  url('../fonts/barlow-v5-latin-600.woff2') format('woff2'), 
  url('../fonts/barlow-v5-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
  url('../fonts/barlow-v5-latin-700.woff2') format('woff2'), 
  url('../fonts/barlow-v5-latin-700.woff') format('woff'); 
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
  url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'), 
  url('../fonts/fraunces-v10-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: local(''),
  url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'), 
  url('../fonts/fraunces-v10-latin-900.woff') format('woff'); 
}


* {
  box-sizing: border-box;
}

img{
  vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

body{
  margin: 0;
  padding: 0;
  font-family: "Barlow", "Arial", sans-serif;
  /* background-color: #F2F2F2; */
}

.container{
  width: 1320px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.header{
  padding-top: 45px;
}

.header__elements{
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  
}

.header__link{
  text-decoration: none;
  margin-right: auto;
}

.header__img{
  width: 236px;
  height: 26px;
}

.navbar__list{
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar__item + .navbar__item{
  margin-left: 33px;
}

.navbar__link{
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  color: #83888F;
}

.navbar__link:hover{
  color: #333D4B;
}

.hero{
  margin-bottom: 136px;
}

.hero__page{
  background-image: url(/images/Bitmap.png);
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 117px 0 117px 85px;
}

.hero__description{
  width: 493px;
}

.hero__title{
  font-family: "Fraunces", "Times New Roman", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin-top: 0;
  margin-bottom: 32px;
}

.hero__text{
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
  margin-top: 0;
  margin-bottom: 58px;
  
}

.hero__link{
  display: block;
  width: 217px;
  font-family: "Fraunces", "Times New Roman", serif;
  font-weight: 900;
  text-decoration: none;
  padding: 16px 31px;
  background: #0E8784;
  border-radius: 6px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
}

.hero__link:hover{
  background-color: #66D2CF;;
}

.our-collection{
  margin-bottom: 200.45px;
  background-image: url(../images/bc-img.svg);
  /* background-color: #F2F2F2; */
  background-repeat: no-repeat;
  background-size: 1111px 196px;
  background-position: top center;
}

.our-collection__list{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 126px;
  list-style: none;
  
}

.our-collection__item--active ~ .our-collection__item{
  margin-left: 30px;
  
}

.our-collection__img{
  width: 255px;
  height: 193px;
  margin-bottom: 71.55px;
}



.our-collection__description{
  width: 255px;
}

.our-collection__title{
  font-family: "Fraunces", "Times New Roman", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.our-collection__text{
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
  margin: 0;
}

.why-us{ 
  margin-bottom: 351px;
}

.why-us__page{
  position: relative;
  z-index: 1;
  width: 1280px;
  height: 577px;
  background: #2C343E;
  border-radius: 10px;
}

.why-us__description{
  width: 540px;
  margin: 0 auto;
  padding-top: 100px;
}

.why-us__title{
  font-family: "Fraunces", "Times New Roman", serif;
  font-weight: 900;
  font-size: 40px;
  margin: 0 0 32px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
}

.why-us__text{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7; 
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0;
}

.why-us__box{
  position: absolute;
  bottom: -151px;
  right: 85px;
  z-index: 2;
}

.why-us__list{
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 ;
  padding: 0;
}

.item{
  width: 350px;
  background: #0E8784;
  border-radius: 8px;
  
  padding: 72px 48px 48px 47px;
}

.item--active ~ .item{
  margin-left: 30px;
}

.item__img{
  display: block;
  width: 71px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.item__description{
  width: 255px;
}

.item__title{
  font-family: "Fraunces", "Times New Roman", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
  margin-top: 0;
  margin-bottom: 24px;
}

.item__text{
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  margin: 0;
}

.how-it-works{
  margin-bottom: 200px;
}

.how-it-works__elements{
  margin-left: 85px;

}

.how-it-works__heading{
  font-family: "Fraunces", "Times New Roman", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-top: 0;
  margin-bottom: 80px;
}

.line{
  position: relative;
  z-index: 1;
  display: block;
  margin-left: 15.5px;
  margin-bottom: 82px;
  width: 760px;
  height: 1px;
  background-color: #FDD6BA;
  border: 2px solid #FDD6BA;
}

.line__oval{
  position: absolute;
  z-index: 20;
  display: block;
  top: -15px;
  left: -15.5px;
  width: 31px;
  height: 31px;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
  margin-bottom: 67px;
}

.line__oval--middle{
  left: 349px;
}

.line__oval--last{
  left: 744.5px;
}

.stage{
  display: flex;
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  list-style: none;
}

.stage__item{
  width: 285px;
}

.stage__item + .stage__item{
  margin-left: 95px;
}

.stage__number{
  font-family:  "Fraunces", "Times New Roman", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin-top: 0;
  margin-bottom: 38px;
}

.stage__summary{
  width: 255px;
}


.stage__title{
  font-family:  "Fraunces", "Times New Roman", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-top: 0;
  margin-bottom: 42px;
}

.stage__text{
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.footer__box{
  display:flex;
  margin-bottom: 88px;
  padding: 47px 85px;
  background-color:#2C343E;
}

.footer__page{
  display: flex;
  width: 622px;
}

.footer__link{
  text-decoration: none;
  margin-right: auto;
}

.footer__img{
  width: 236px;
  height: 26px;
  margin-right: auto;
}

.footer__list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__item--active ~ .footer__item{
  margin-left: 33px;
}

.footer__sublink{
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  color: #83888F;
  text-decoration: none;
}

.footer__sublink:hover{
  color: #FEFCF7;
}

.social-media{
  margin-left: auto;
}

.social-media__link{
  text-decoration: none;
}

.social-media__link--active ~ .social-media__link{
  margin-left: 24px;
}

.social-media__img{
  fill: #FEFCF7;
  vertical-align: middle;
}

.social-media__img:hover{
  fill: #FDD6BA;;
}